# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/
*.egg

# Installer logs
debug.log

# IDE specific files
.idea/
.vscode/

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in iCloud
*.icloud